apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: api-status-maker-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: "" # Use default storage class; override as needed

