apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "api-status-maker.fullname" . }}-config
  labels:
{{ include "api-status-maker.labels" . | indent 4 }}
data:
  config.ini: |
    [global_config]
    title = {{ .Values.config.global.title }}
    description = {{ .Values.config.global.description }}
    environment = {{ .Values.config.global.environment }}
    logo = {{ .Values.config.global.logo }}
    api_ping_frequency_seconds = {{ .Values.config.global.api_ping_frequency_seconds }}
    notification_email_address = {{ .Values.config.global.notification_email_address }}
    default_theme = {{ .Values.config.global.default_theme }}
    mask_api_urls = {{ ternary "true" "false" .Values.config.global.mask_api_urls }}

    {{- range .Values.config.apis }}
    [{{ .name }}]
    api_name = {{ .api_name }}
    api_url = {{ .api_url }}
    {{- end }}

