apiVersion: v1
kind: Service
metadata:
  name: {{ include "api-status-maker.fullname" . }}
  labels:
{{ include "api-status-maker.labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ include "api-status-maker.name" . }}

